<link rel="stylesheet" href="{% static 'blog/css/public/footer.css' %}">
<div class="beian">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32011502011305"
       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
            src="{% static 'blog/img/备案图标.png' %}" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备
            32011502011305号</p></a>
</div>
		 