<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<script src="{% static 'shop/js/do.js' %}"></script>
{#<script type="text/javascript">#}
{#</script>#}
<form action="javascript:void 0" onsubmit=" return check_login()">
    <span>login_name:</span><input type="text" id="login_name" name="login_name"><br>
    <span>password:</span><input type="password" id="password" name="password"><br>
    <input type="submit" value="login">

</form>
</body>
</html>