<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>送给宝贝的蛋糕</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="../../../static/wang_dan_birthday/static/dangao/css/style.css">
    <link rel="stylesheet" href="../../../static/wang_dan_birthday/static/dangao/css/style11.css">
    <link rel="stylesheet" href="../../../static/wang_dan_birthday/static/dangao/css/yanhua.css">
    <link rel="stylesheet" href="../../../static/wang_dan_birthday/static/dangao/css/style2D.css">
</head>

<body>
    <marquee style="position: fixed; top: 10px; color: #fff" scrollamount="10">王丹~龙龙爱你哟~ 生日快乐！</marquee>
    <marquee style="position: fixed; top: 25px; color: #fff" scrollamount="5">2021年1月12日~龙龙爱你哟~ 生日快乐！</marquee>
    <marquee style="position: fixed; top: 50px; color: #ffd800" scrollamount="10">happy birthday！，天天开心！</marquee>
    <marquee style="position: fixed; top: 75px; color: #00ff90" scrollamount="10">龙龙的小宝贝~，没有烦恼！</marquee>
    <marquee style="position: fixed; top: 100px; color: rgb(0,255,255)" scrollamount="15">我对你的爱与日俱增，你是我在这个世界上最钟爱的人，祝你生日快乐，天天快乐！</marquee>
    <marquee style="position: fixed; top: 125px; color: rgb(235,151,255)" scrollamount="10">生日祝福你，好事追着你，主管重视你，病魔躲着你，情人深爱你，痛苦远离你，开心跟着你，万事顺着你！</marquee>
    <marquee style="position: fixed; top: 75px; color: rgb(255,76,96)" scrollamount="5">愿你每一年的每一天都充满快乐，明媚和爱。祝你生日快乐</marquee>
    <main style="text-align:center;position:absolute;">

        <ul class="star" style="--v: 1; --t: 1;">
            <li style="--i: 0"></li>
        </ul>
        <ul style="--v: 2; --t: 8; --direction:reverse">
            <li style="--i: 0"></li>
            <li style="--i: 1"></li>
            <li style="--i: 2"></li>
            <li style="--i: 3"></li>
            <li style="--i: 4"></li>
            <li style="--i: 5"></li>
            <li style="--i: 6"></li>
            <li style="--i: 7"></li>
        </ul>
        <ul style="--v: 3; --t: 12">
            <li style="--i: 0"></li>
            <li style="--i: 1"></li>
            <li style="--i: 2"></li>
            <li style="--i: 3"></li>
            <li style="--i: 4"></li>
            <li style="--i: 5"></li>
            <li style="--i: 6"></li>
            <li style="--i: 7"></li>
            <li style="--i: 8"></li>
            <li style="--i: 9"></li>
            <li style="--i: 10"></li>
            <li style="--i: 11"></li>
        </ul>
        <ul style="--v: 4; --t: 18; --direction:reverse">
            <li style="--i: 0"></li>
            <li style="--i: 1"></li>
            <li style="--i: 2"></li>
            <li style="--i: 3"></li>
            <li style="--i: 4"></li>
            <li style="--i: 5"></li>
            <li style="--i: 6"></li>
            <li style="--i: 7"></li>
            <li style="--i: 8"></li>
            <li style="--i: 9"></li>
            <li style="--i: 10"></li>
            <li style="--i: 11"></li>
            <li style="--i: 12"></li>
            <li style="--i: 13"></li>
            <li style="--i: 14"></li>
            <li style="--i: 15"></li>
            <li style="--i: 16"></li>
            <li style="--i: 17"></li>
        </ul>
        <ul style="--v: 5; --t: 22">
            <li style="--i: 0"></li>
            <li style="--i: 1"></li>
            <li style="--i: 2"></li>
            <li style="--i: 3"></li>
            <li style="--i: 4"></li>
            <li style="--i: 5"></li>
            <li style="--i: 6"></li>
            <li style="--i: 7"></li>
            <li style="--i: 8"></li>
            <li style="--i: 9"></li>
            <li style="--i: 10"></li>
            <li style="--i: 11"></li>
            <li style="--i: 12"></li>
            <li style="--i: 13"></li>
            <li style="--i: 14"></li>
            <li style="--i: 15"></li>
            <li style="--i: 16"></li>
            <li style="--i: 17"></li>
            <li style="--i: 18"></li>
            <li style="--i: 19"></li>
            <li style="--i: 20"></li>
            <li style="--i: 21"></li>
        </ul>
        <ul style="--v: 6; --t: 26; --direction:reverse">
            <li style="--i: 0"></li>
            <li style="--i: 1"></li>
            <li style="--i: 2"></li>
            <li style="--i: 3"></li>
            <li style="--i: 4"></li>
            <li style="--i: 5"></li>
            <li style="--i: 6"></li>
            <li style="--i: 7"></li>
            <li style="--i: 8"></li>
            <li style="--i: 9"></li>
            <li style="--i: 10"></li>
            <li style="--i: 11"></li>
            <li style="--i: 12"></li>
            <li style="--i: 13"></li>
            <li style="--i: 14"></li>
            <li style="--i: 15"></li>
            <li style="--i: 16"></li>
            <li style="--i: 17"></li>
            <li style="--i: 18"></li>
            <li style="--i: 19"></li>
            <li style="--i: 20"></li>
            <li style="--i: 21"></li>
            <li style="--i: 22"></li>
            <li style="--i: 23"></li>
            <li style="--i: 24"></li>
            <li style="--i: 25"></li>
        </ul>
        <ul style="--v: 7; --t: 32">
            <li style="--i: 0"></li>
            <li style="--i: 1"></li>
            <li style="--i: 2"></li>
            <li style="--i: 3"></li>
            <li style="--i: 4"></li>
            <li style="--i: 5"></li>
            <li style="--i: 6"></li>
            <li style="--i: 7"></li>
            <li style="--i: 8"></li>
            <li style="--i: 9"></li>
            <li style="--i: 10"></li>
            <li style="--i: 11"></li>
            <li style="--i: 12"></li>
            <li style="--i: 13"></li>
            <li style="--i: 14"></li>
            <li style="--i: 15"></li>
            <li style="--i: 16"></li>
            <li style="--i: 17"></li>
            <li style="--i: 18"></li>
            <li style="--i: 19"></li>
            <li style="--i: 20"></li>
            <li style="--i: 21"></li>
            <li style="--i: 22"></li>
            <li style="--i: 23"></li>
            <li style="--i: 24"></li>
            <li style="--i: 25"></li>
            <li style="--i: 26"></li>
            <li style="--i: 27"></li>
            <li style="--i: 28"></li>
            <li style="--i: 29"></li>
            <li style="--i: 30"></li>
            <li style="--i: 31"></li>
        </ul>
        <ul style="--v: 8; --t: 36; --direction:reverse">
            <li style="--i: 0"></li>
            <li style="--i: 1"></li>
            <li style="--i: 2"></li>
            <li style="--i: 3"></li>
            <li style="--i: 4"></li>
            <li style="--i: 5"></li>
            <li style="--i: 6"></li>
            <li style="--i: 7"></li>
            <li style="--i: 8"></li>
            <li style="--i: 9"></li>
            <li style="--i: 10"></li>
            <li style="--i: 11"></li>
            <li style="--i: 12"></li>
            <li style="--i: 13"></li>
            <li style="--i: 14"></li>
            <li style="--i: 15"></li>
            <li style="--i: 16"></li>
            <li style="--i: 17"></li>
            <li style="--i: 18"></li>
            <li style="--i: 19"></li>
            <li style="--i: 20"></li>
            <li style="--i: 21"></li>
            <li style="--i: 22"></li>
            <li style="--i: 23"></li>
            <li style="--i: 24"></li>
            <li style="--i: 25"></li>
            <li style="--i: 26"></li>
            <li style="--i: 27"></li>
            <li style="--i: 28"></li>
            <li style="--i: 29"></li>
            <li style="--i: 30"></li>
            <li style="--i: 31"></li>
            <li style="--i: 32"></li>
            <li style="--i: 33"></li>
            <li style="--i: 34"></li>
            <li style="--i: 35"></li>
        </ul>
        <p id="message" style="position:relative;margin-top:-40px;z-index:999999">
            <img src="../../../static/wang_dan_birthday/static/dangao/img/birthday.png" alt="Alternate Text" />
            <br />
        </p>
    </main>
<!--    <div class="block-audio" style="z-index:10000;">-->
<!--        <audio class="exp" src="m/最爱.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp1.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp1.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp1.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp2.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp2.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp2.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp3.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp3.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp3.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp4.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp4.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp4.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp5.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp5.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp5.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp6.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp6.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp6.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp7.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp7.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp7.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp8.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp8.mp3" controls></audio>-->
<!--        <audio class="exp" src="m/exp8.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch1.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch1.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch2.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch2.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch3.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch3.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch4.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch4.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch5.mp3" controls></audio>-->
<!--        <audio class="launch" src="m/launch5.mp3" controls></audio>-->
<!--    </div>-->
    <canvas id="canvas"></canvas>
    <script type="text/javascript" src="../../../static/wang_dan_birthday/static/dangao/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/wang_dan_birthday/static/dangao/js/index1.js"></script>
    <script src="../../../static/wang_dan_birthday/static/dangao/js/script.js"></script>
        <embed frameborder="no" border="0" marginwidth="0" marginheight="0" width=0 height=0 src="../../../static/wang_dan_birthday/static/voice/环游星空.mp3"></embed>

</body>

</html>
