.beian {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    top: 2000px;
    left: 20%;
    color: #FFFFFF;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);

    /*position: fixed;*/
    /*text-align: center;*/
    /*bottom: 0;*/
    /*z-index: 9999;*/
}
